<% if @products != nil %>
  
  <% id = 1 %>

  <% @products.each do |product| %>

    <div class="productWrapper">
      <div class="productImage">
        <a data-reveal-id="productModal<%= id %>">
          <%= image_tag product.photo.url(:medium), :class => "image" %>
        </a>
        <a class="clickMe"><%= product.product_name %> by <%= product.company_name %></a>
      </div>
      <div class="productDetails">
        <b>Price</b> £<%= product.price %>
        <p class="productDescription"><%= Product.limit_description(product.description) %></p>

    
      <div class="rightOption">
        <% if current_user != nil && current_user.id == product.user_id %>
        <%= link_to 'Delete Product', user_product_path(current_user.id, product.id),
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Edit', edit_user_product_path(current_user.id, product.id) %>
        <% end %>
      </div>

      <div class="leftOption">
        <% @categories.each do |category| %>
          <% if category.id == product.category_id %>
            <%= category.name %>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>

    <div id="productModal<%= id %>" class="reveal-modal largeModal" data-reveal>
      <div class="modalImage">
        <%= image_tag product.photo.url(:medium), :class => "modal" %>
      </div>
      <div class="textWrapper">
        <div id="productTitle">
          <a href="<%= product.product_url %>"><%= product.product_name %></a>
        </div>
        <p> by <a href="<%= product.company_url %>"><%= product.company_name %></a> </p>
        <p class="description"><%= product.description %></p>
        
        <p class="price"> <b>Price:</b> £<%= product.price %></p>
        <% if product.facebook_url != nil %>
          <a href="<%= product.facebook_url %>" class="facebookLink"><i class="fa fa-facebook fa-2x"></i></a>
        <% end %>

        <% if product.twitter_url != nil %>
          <a href="<%= product.twitter_url %>" class="twitterLink"><i class="fa fa-twitter fa-2x"></i></a>
        <% end %>
          
      </div>
    </div>

    <% id+=1 %>

  <% end %>

<% end %>
