<div id="signUpModal" class="reveal-modal" data-reveal>
  <%= form_for(:user, :url => registration_path(:user)) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, :id => 'signUpEmail' %>
    <%= f.label :password %>
    <%= f.password_field :password, :id => 'signUpPassword' %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :id => 'signUpPasswordConfirmation' %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    &nbsp;
    <%= f.submit :value => 'Sign Up', :class => 'button radius signUpButton' %>
    <div class="signUpButtonDivider"> Or </div>
    <%= link_to user_omniauth_authorize_path(:facebook), :class => 'button radius signInButton signInButtonFacebook' do %>
    Sign Up with &nbsp; <i class="fa fa-facebook fa-1x"></i>acebook
    <% end %>
  <% end %>
</div>