<div class="row newProductForm">
  <div class="small-9 small-centered columns newForm">

    <p class="newProductIntro"> Showcase a cool product or artwork by filling in the below:</p>

    <%= form_for([current_user, current_user.products.build], :html => { :multipart => true }) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited
          this post from being saved:</h2>
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <p>
        <%= f.label :add_an_image_first %>
        <%= f.file_field :photo %>
      </p>
      <p>
        <%= f.label :company_name %>
        <%= f.text_field :company_name, placeholder: 'Required Field' %>
      </p>
      <p>
        <%= f.label :company_url %>
        <%= f.text_field :company_url %>
      </p>
      <p>
        <%= f.label :facebook_url %>
        <%= f.text_field :facebook_url %>
      </p>
      <p>
        <%= f.label :twitter_url %>
        <%= f.text_field :twitter_url %>
      </p>
      <p>
        <%= f.label :product_name %>
        <%= f.text_field :product_name, placeholder: 'Required Field' %>
      </p>
      <p>
        <%= f.label :product_url %>
        <%= f.text_field :product_url, placeholder: 'Required Field' %>
      </p>
      <p>
        <%= f.label :price %>
        <%= f.text_field :price, placeholder: 'Required Field' %>
      </p>
      <p>
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: 'Required Field' %>
      </p>
      <p>  
        <%= f.label :category_id %>  
        <%= f.collection_select :category_id, Category.all, :id, :name %>
      </p> 
      <p>
        <%= f.submit :value => 'Post Product', :class => 'button radius' %>
      </p>
    <% end %>

  </div>
</div>
